/* Login.css */

.login-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.register-link {
  text-align: center;
  margin-top: 10px;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
/* Register.css */

.register-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.register-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #0056b3;
}

/* User.css */

.user-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.user-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.user-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.user-buttons button:hover {
  background-color: #0056b3;
}

/* Products.css */

.products-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.products-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.products-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.products-buttons button:hover {
  background-color: #0056b3;
}

.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
}

.product-price {
  color: #007bff;
}

.product-pid {
  font-size: 12px;
  color: #888;
}

.add-to-cart-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 10px;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}

/* Cart.css */

.cart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.cart-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
}

.product-price {
  color: #007bff;
}

.product-quantity {
  font-size: 14px;
  margin-top: 10px;
}

.quantity-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
  margin: 0 5px;
}

.quantity-button:hover {
  background-color: #0056b3;
}

.product-total {
  font-size: 16px;
  margin-top: 10px;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: #c82333;
}

.total-cart {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.empty-cart-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
}

.empty-cart-button:hover {
  background-color: #0056b3;
}

.btns{
  display: flex;
  justify-content: space-between;
}
.inputs_pay{
  display: none;
}
/* CSS for the payment input form */
.inputs-pay {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.payment-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pay-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.pay-button:hover {
  background-color: #0056b3;
}
/* CSS for the OrderHistory component */
.order-history-container {
  margin-top: 20px;
}

.order-item {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.order-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.products-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.cart-item {
  margin-top: 10px;
}

.product-name {
  font-weight: bold;
}

.product-price {
  margin-top: 5px;
}

.product-quantity {
  margin-top: 5px;
}

.product-total {
  font-weight: bold;
  margin-top: 10px;
}

.payment-details-title {
  font-size: 20px;
  margin-top: 10px;
}

.payment-detail {
  margin-top: 5px;
}

.order-divider {
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}
